.container {

	margin-right: auto;
	margin-left: auto;

}

body { 
	 padding-top: 35px; 
}

.img-circle {
	width: 150px;
	height: 150px;
}

.navbar-inverse .navbar-inner {
	background-color: #FF7F27;
}
@media (max-width: 979px) {

      .navbar-fixed-top {
        position: fixed;
      }
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        margin-left: 0px;
        margin-right: 0px;
	}
}